@font-face {
    font-family: Inky Thin Pixels;
    src: url(../fonts/Inky-Thin-Pixels_0.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
    background-color: #ffa66b;
    overflow-y: hidden;
}

.main{
    max-width: 1920px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    flex-direction: row;
    justify-content: space-between;
    row-gap: 32px;
    gap: 32px;
    box-sizing: border-box;
    
}
.right{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* gap: 36px; */
}
.text{
    font-family: Inky Thin Pixels;
    align-items: center;
    display: flex;
    gap: 8px;
    color: #fff;
    font-size: 36px;
}
.hide{
    display: none;
}
@media (max-width: 1540px){
    .main{
        display: grid;
        grid-template-columns: max-content;
        max-width: 1280px;
    }
    .right{
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .text{
        width: 600px;
        flex-direction: row; 
        justify-content: space-between;
    }
    .hide{
        display: flex;
    }
    .show{
        display: none;
    }
}

 canvas{
    position: relative;
}

 /* button{
    color:black;
    border: none;
    background: none;
    width: 50px;
    height: 50px;
    top: 0;
    right: 0;
    left: 0;
    margin-top: 8px;
} */

.fas{
    font-size: 42px;
} 

.btn{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.btn-restart{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.audioBtn{
    border: none;
    background-color: transparent;
}

.audio{
    display: flex;
    align-items: center;
}